.sign-in-modal {
    .modal-title {
        font-family: $montserat;
        text-transform: capitalize;
        color: $text-black;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
}